@import "../../styles/main.scss";

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 15px;
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    height: 60px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03;
  margin-right: 93px;
}
.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  transition: color 250ms ease;
  display: block;
  height: 100%;
  position: relative;

  &:hover,
  &:focus {
    color: $accent;
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    padding-top: 28px;
    padding-bottom: 28px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;

      height: 4px;
      width: 100%;

      background-color: $accent;
      border-radius: 2px;
      transform: scaleX(0);
      transition: transform 250ms ease;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.nav-menu {
  .site-nav__link.active {
    // Styles for the active link
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 4px;
      width: 100%;
      background-color: $accent;
      border-radius: 2px;
    }
  }
}

.accent {
  color: $accent;
}

.contact-list {
  display: flex;
}

.contact-item {
  transition: color 250ms ease;
  &:first-child {
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    color: $accent;
  }
}

.contacts-icon {
  margin-right: 10px;

  transition: fill 250ms ease;
  .contact-item:hover & {
    fill: $accent;
  }
}

.hamburger {
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav-menu {
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 769px) {
    display: flex;
  }
}
.nav-menu.open {
  display: block;
}
